<!-- include if adding message upon successful object creation
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} -->


<h1>this page is antiquated. awating deletion.</h1>

<h1>Hello world</h1>


<h2> Anthony adding another hello world</h2>

<p> hiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</p>

<h4> Sorry Lisa and Anthony, but Stacy wins </h4>

<h4> Sorry Lisa </h4>

<strong><h1>Hi everybody It's Jesse!!!!</h1></strong>

{% for project in projects %}
  <h3>{{ project.name_proj }}</h3>
  <ul>
  {% for phase in phases %}
    <!-- {% if phase.project_id == project.id %} -->
    <li>{{phase.name_phase}} - Start Date: {{ phase.start_date }}  End Date: {{ phase.end_date }}</li>
    <!-- {% endif %} -->
  {% endfor %}
  </ul>
{% endfor %}


<!-- 
{% if somevar == "x" %}
  This appears if variable somevar equals the string "x"
{% endif %} -->

<a href="/update-project/1">Update Project 1</a>